
        .form
        {
            margin:auto;
        }
        table
        {
            border:1px solid black;
            width: 60%;
            margin-left: 20%;
            border-collapse: collapse;
        }

        td
        {
            border:1px solid black;
            height: 40px;
        }
        .color1
        {
            background-color: lightgray;
        }
        .color2
        {
            background-color: gray;
        }
        .color3
        {
            background-color: lightgray;
        }
        .color4
        {
            background-color: gray;
        }